on:
  release:
    types: [ "published" ]
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install just
        run: sudo apt-get update && sudo apt-get install -y just

      - name: Install uv
        uses: astral-sh/setup-uv@7edac99f961f18b581bbd960d59d049f04c0002f  # v6.4.1
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Install python packages
        run: uv sync --locked --all-extras --dev

      - name: Test
        run: just test

      - name: Lint
        run:  just lint

      - name: Typecheck
        run:  just typecheck